
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #b1b9bd;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field:not(:last-of-type) {
  margin-right: 1.8rem;
}

.label {
  padding-top: 0.2rem;
  font-size: 1.2rem;
  font-family: 'Kaushan Script', cursive;
}

.value {
  padding: 0.6rem;
  font-size: 4rem;
  color: #ebf0f2;
  background-color: #333333;
}